.dday {
    font: bold 20vw sans-serif;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-10vh, -10vw) rotate(20deg);
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background: #000;
    }
}