body {
    background: linear-gradient(to right, #ffe2e7 0%, #ffe2e7 20%, #e5b4c1 20%, #e5b4c1 40%, #8697c2 40%, #8697c2 60%, #91a7ec 60%, #91a7ec 80%, #c5cffc 80%, #c5cffc 100%);
}

.jihu {
    font: bold 20vw sans-serif;
    color: #fff;
    background-color: #e42f08;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 3vw 0 3vw;
    opacity: 0.8;
    transform: translate(-50%, -50%);
}