body {
    height: 100vh;
    background: linear-gradient(to right, #ffe2e7 0%, #ffe2e7 20%, #e5b4c1 20%, #e5b4c1 40%, #8697c2 40%, #8697c2 60%, #91a7ec 60%, #91a7ec 80%, #c5cffc 80%, #c5cffc 100%);
    background-size: 100% 100%;
    margin: 0;
}

.jihu {
    font: bold 20vw sans-serif;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}